body{
    background-color: #f0f0f0;
    color: #0000;
}
h1{
    color:black;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}