body{
    background-color: #121212;
    color: #ffff;
}
h1{
    color:#ffff;
}
button {
    background-color: #ecd91b ;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}